@font-face {
  font-family: Gilroy;
  src: url("/public/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-primary-bg;
  }
}
@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1220px];
  }
  .grText {
    @apply bg-clip-text text-transparent;
  }
  .title {
    @apply text-[30px] xl:text-[46px]  font-bold text-white;
  }
}
